.container{
    margin-top: 2%;
}
.H{
    font-size: 3rem;
    text-align: center;
}
.container1{
    display: flex;
}

.container2{
    display: flex;
  margin-top: 1.5%;  
}
.guitar{
    border: 1px solid black;
    padding: 10px;
    border-radius: 14px;
    margin-left: 5px;
}
.g{
    width: 200px;
    height: 200px;
}
.Buynow,.add{
    width: 40%;
    padding: 8px;
    background-color: black;
    border-radius: 14px;
    color: white;
    position: static;
}
.btn1{
    width: 30%;
    padding: 16px;
    background-color: black;
    border-radius: 28px;
    margin-top: 25px;
    margin-left: 32%;
    font-size: 20px;
    color: white;
}